<div>
    <table class="striped highlight responsive-table">
        <thead>
            <tr class="center-aligned">
    
                <td><strong>Participantes</strong></td>
    
                <% if(mostrarSexEdad) { %>
                    <td><strong>Sexo</strong></td>
                    <td><strong>Edad</strong></td>
                <% } %>
    
                <% if(mostrarCalif) { %>
                    <td><strong>Calificación Inicial</strong></td>
                    <td><strong>Calificación Final</strong></td>
                    <td><strong>Avance</strong></td>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for(let dato of datos) { %>
              <tr>
    
                <td><%= dato.nombreUsuario %> <%= dato.apellidoPaterno %> <%= dato.apellidoMaterno %></td>
    
                <% if(mostrarSexEdad) { %>
                    <td><%= dato.sexo %></td>
                    <td><%= dato.Edad %></td>
                <% } %>

                <% if(mostrarCalif) { %>
                    <td><%= Math.round((dato.CalifInicial) * 10) / 10 %> </td>
                    <td><%= Math.round((dato.CalifFinal) * 10) / 10 %></td>
                    <td><%= Math.round((dato.Avance) * 10) / 10 %>%</td>
                <% } %>
              </tr>
            <% } %>
        </tbody>
    </table>              
</div>