<table class="highlight">
    <thead>
    <tr>
        <th data-field="nombre">Nombre</th>
        <th data-field="titulo">Rol</th>
        <th data-field="editar"></th>
    </tr>
    </thead>
    <tbody id="tablaUsuarios">
    <% for (let usuario of usuarios) { %>  
        <tr>
            <td  style="cursor: pointer;"><a href="./perfil/<%= usuario.login%>" class = "black-text"><%= usuario.nombreUsuario %> <%= usuario.apellidoPaterno %></a></td>
            <td><%= usuario.nombre %></td>

            <% if (permisos.includes(9)) { %>  
            <td>
                <!-- Modal Modificar Usuario -->
                <a class=" modal-trigger black-text white right" href="#modificarUsuario" id="<%= usuario.login %>" onclick="modUser(this.id);"><i class="material-icons">create</i></a>
            </td>
            <% } %>
        </tr>
    <% } %>
    <!-- Modal Structure Modificar Usuario-->
    <div id="modificarUsuario" class="modal">
        <div id="despliega_usuario"><div id="childDiv"></div></div>
    </div><!-- Fin Modal Structure Modificar Usuario -->
    
    </tbody>
</table>
