
<p><strong>Ciclos del año en curso</strong></p>
<ul class="collapsible"> 
    <% for (let ciclo of ciclos_aactual) { %>
        <li>
            <div class="collapsible-header">
                <a onclick="verPerfilCiclo(<%= ciclo.idCiclo %>)" class = "black-text" style="cursor: pointer;">
                    <%= mes[ciclo.fechaInicial.getMonth()] %> - <%= mes[ciclo.fechaFinal.getMonth()] %>
                </a>
                <span class="badge">
                    <%= ciclo.fechaInicial.getFullYear() %>
                </span>
            </div>
        </li>
    <% } %>
</ul>

<p><br><strong>Ciclos anteriores</strong></p>
<ul class="collapsible"> 
    <% for (let p of a_pasados) { %>
            <li>
                <div class="collapsible-header"><%= p.anio %></div>
                <div class="collapsible-body">
                    <div class="collection">
                        <% for (let ciclo of ciclos) { %>
                            <% if (ciclo.fechaInicial.getFullYear() === p.anio) { %>
                                <a href="" class="collection-item" style="cursor: pointer;"> <%= mes[ciclo.fechaInicial.getMonth()] %> - <%= mes[ciclo.fechaFinal.getMonth()] %></a>         
                            <% } %>        
                        <% } %>
                    </div>
                </div>
            </li>       
    <% } %>
</ul>
<input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >

<script>
    const verPerfilCiclo = (idcicloparam) => {
        const csrf = document.getElementById('_csrf').value;
        let data = {
            idcicloparam: idcicloparam,
        };

        fetch('/gestionAdmin/gestionCiclos/perfil-ciclo',{
            method: 'POST',
            headers: {'Content-Type':'application/json',
                    'csrf-token': csrf},
            body:JSON.stringify(data),
        }).then(result => {
            window.location = '/gestionAdmin/gestionCiclos/inscribir/'+ idcicloparam ;
        })

        
    }
</script>
