<!-- Modal Structure Editar Programa-->
<% for (let programa of programas) { %>  
    <div id="EditarPrograma-<%=programa.idPrograma%>" class="modal">
      <form action="/gestionAdmin/gestionProgramas/editarPrograma/?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="_csrf_<%=programa.idPrograma%>" name="_csrf" value="<%= csrfToken %>" >
        <div class="modal-content">
          <h3>Editar: <%=programa.nombrePrograma%></h3>
          <input type="hidden" name="idPrograma" value="<%=programa.idPrograma%>">
          <ul>
            <li><strong><br>Cambiar nombre</strong></li>
            <li>
              <div class="row valign-wrapper">
                <div class="col s1">
                  <label>
                      <input type="checkbox" name="enNombre" id="enNombre-<%=programa.idPrograma%>" onclick="enable(<%=programa.idPrograma%>,'enNombre-','cambiarNombre-')">
                      <span> <strong class= "flow-text black-text" ></strong> </span>
                  </label>
                </div>        
                <div class="col s11">
                  <div class="input-field tooltipped " data-position="bottom" data-tooltip="Selecciona la casilla para cambiar el nombre">
                    <input disabled name="nombrePrograma" type="text" class="validate"  placeholder="Nombre" id="cambiarNombre-<%=programa.idPrograma%>" required>
                  </div>
                </div>
              </div>
            </li>
            <li><strong><br>Cambiar imagen (para vista en el tablero)</strong></li>
            <li>
              <div class="row valign-wrapper">
                <div class="col s1">
                  <label>
                      <input type="checkbox" name="enImagen" id="enImagen-<%=programa.idPrograma%>" onclick="enable(<%=programa.idPrograma%>, 'enImagen-','subirImagen-')">
                      <span> <strong class= "flow-text black-text" ></strong> </span>
                  </label>
                </div>        
                <div class="col s11">
                  <div class="file-field input-field">
                    <div class="waves-effect waves-light btn-small white black-text tooltipped" data-position="bottom" data-tooltip="Selecciona la casilla para cambiar la imagen">
                      <i class="material-icons left ">file_upload</i>Subir
                      <input disabled type="file" name="imagen" id="subirImagen-<%=programa.idPrograma%>" required>
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><strong><br>Cambiar nombre de los niveles</strong></li>
            <li>
              <% for (let nivel of niveles) { %>
                <% if (nivel.idPrograma === programa.idPrograma) {%>
                  <div class="row valign-wrapper">
                    <div class="col s1">
                      <label>
                          <input type="checkbox" id="enNivel<%=nivel.idNivel%>-<%=programa.idPrograma%>" name="enNivel_<%=nivel.idNivel%>" onclick="enable(<%=programa.idPrograma%>,'enNivel<%=nivel.idNivel%>-','cambiarNivel<%=nivel.idNivel%>-')">
                          <span> <strong class= "flow-text black-text" ></strong> </span>
                      </label>
                    </div>        
                    <div class="col s11">
                      <div class="input-field tooltipped" data-position="bottom" data-tooltip="Selecciona la casilla para cambiar el nombre del nivel <%=nivel.nombreNivel%>">
                        <input disabled type="text" class="validate" name="nivel_<%=nivel.idNivel%>" placeholder="<%=nivel.nombreNivel%>" id="cambiarNivel<%=nivel.idNivel%>-<%=programa.idPrograma%>" required>
                        <input type="hidden" name="nivel_<%=nivel.idNivel%>_" value="<%=nivel.idNivel%>">
                      </div>
                    </div>
                  </div>
                <% } %>
              <% } %>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button  type = "submit" class="modal-action waves-effect btn-flat grey lighten-1">Actualizar</button>
          <label style="visibility:hidden">**</label>
          <br>
        </div>
      </form>
    </div><!-- Fin Modal Structure Editar Programa-->

    <!-- Modal Structure Agregar Nivel-->
    <div id="agregarNivel-<%=programa.idPrograma%>" class="modal">
      <form action="/gestionAdmin/gestionProgramas/agregarNivel" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <div class="modal-content">
          <h3>Agregar Nivel</h3>
          <label> * Campos obligatorios.</label>
          <input type="hidden" name="idPrograma" value="<%=programa.idPrograma%>">
          <ul>
            <li><strong><br>Nombre del nivel nuevo *</strong></li>
            <li>
              <div class="input-field">
                <input name="nombreNivel" type="text" class="validate"  placeholder="Nombre" required>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button  type = "submit"  class="modal-action waves-effect btn-flat grey lighten-1">Agregar</button>
          <label style="visibility:hidden">**</label>
          <br>
        </div>
      </form>
    </div><!-- Fin Modal Structure Agregar Nivel-->
<% } %>

<script>
  function enable(idPrograma, idCheck, idInput){
    idCheck +=  idPrograma;
    idInput += idPrograma;
    let bool = document.getElementById(idCheck).checked;
    if(bool){
        document.getElementById(idInput).disabled = false;
    }else{
        document.getElementById(idInput).disabled = true;
    }
  }
</script>