<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>

<div class="row valign-wrapper" id="cambiar-contraseña">
  <div class="col s6 offset-s3">
    <form action="/usuarios/cambiar-pass" method="POST">
      <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="text" id="contraseña-antigua" name="antigua" required>
        <label for="contraseña-antigua">Contraseña Antigua</label>
      </div>
      <br>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="contraseña-nueva" name="nueva" required minlength="8">
        <label for="contraseña-nueva">Nueva Contraseña</label>
        <div id="spanpass1"><span toggle="#contraseña-nueva" class="material-icons field-icon grey-text" onclick="showPassCambiarPass(this)">visibility_off</span></div>
      </div>
      <br>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="confirmacion" name="confirmacion" required>
        <label for="confirmacion">Confirmación</label>
        <div id="spanpass2"><span toggle="#confirmacion" class="material-icons field-icon grey-text" onclick="showPassCambiarConfirm(this)">visibility_off</span></div>
      </div>
      <br>
      
      <button class="btn-formulario btn waves-effect blue lighten-1" >Guardar<i class="material-icons right">send</i>
      </button>
      
    </form>
  </div>
</div>

<input type="hidden" id="errorPassword" value="<%=error%>">
<%- include('include/footer.ejs') %>

<script>
  let error_cambiar_contra = document.getElementById('errorPassword').value;

  if (error_cambiar_contra !== 'false'){
    M.toast({html: error_cambiar_contra , length:10000, classes: 'black'});
  }
 
</script>