<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>

    <br><br>
    <h5><strong>Terapeuta:</strong> <%= datoGrupo.nombreUsuario %> <%= datoGrupo.apellidoPaterno %> <%= datoGrupo.apellidoMaterno %></h5>
    <br><br>
    <h6><strong>Promedio:</strong> &nbsp; &nbsp; Calificaciones - <%= Math.round(datoGrupo.Prom_CaliF*10)/10 %> &nbsp; &nbsp; Avance - <%= Math.round(datoGrupo.Prom_Ava*10)/10 %> %</h6>
    <br><br>

    <%- include('includesConsultas/tabla_consultas_grupo.ejs') %>

    <br><br>
    <form action="/consultas/Grupo/<%= datoGrupo.idGrupo %>" method="post">
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
        <div class="row">
            <button type="submit" class="waves-effect right waves-light btn-large"> Descargar archivo </button>
        </div>
    </form>
<%- include('include/footer.ejs') %>