<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %> 

<div class="row">
  <div id= "contenido">
    <br><h5><strong>Programas disponibles</strong></h5><br>
    <ul class="collapsible" id="lista-programas"> 
      <% for (let programa of programas) { %>  
          <li>
              <div class="collapsible-header">
                  <%= programa.nombrePrograma %>
                  <span class="badge">
                      <!-- Modal Editar -->
                      <i class="material-icons left">more_vert</i>
                  </span>
              </div>
              <div class="collapsible-body">
                  <div class="collection">
                      <% for (let terapeuta of terapeutas) { %>
                        <% if (terapeuta.idPrograma === programa.idPrograma) {%> 
                          <a class="collection-item" onclick="listaParticipantes('<%= terapeuta.nombreUsuario %>', '<%= terapeuta.apellidoPaterno %>','<%= programa.nombrePrograma %>','<%=terapeuta.idGrupo%>')" style="cursor: pointer;">Asignar participantes a <%= terapeuta.nombreUsuario %> <%= terapeuta.apellidoPaterno %></a> 
                        <% } %>
                      <% } %>
                  </div>
              </div>
          </li>
      <% } %>
    </ul>
    <a  href= "/gestionAdmin/gestionCiclos" class="modal-action waves-effect btn-flat grey lighten-1 boton-md right">Finalizar inscripción</a>
  </div>
</div>

  <input type="hidden" id="error" value="<%= error %>">
  <input type="hidden" id="bandera" value="<%= bandera %>">    
<%- include('include/footer.ejs') %>

<script>
  let error = document.getElementById('error').value;
  let bandera = document.getElementById('bandera').value;
  if (error !== 'false' && bandera == 'true'){
    window.location="/gestionAdmin/gestionCiclos/";
  }
  if (error === 'false' && bandera == 'true'){
    
    M.toast({html: 'El ciclo fue registrado correctamente.',  length:6500, classes: 'grey'})
  }

  const listaParticipantes = (nombre, apellido, programa, idGrupo) => {
    fetch('/gestionAdmin/gestionCiclos/participantes', {
        method: 'GET'
    }).then(result => {
        return result.json(); //Regresa otra promesa
    }).then(data => {
        //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
        console.log("Respuesta de la petición asíncrona");
        console.log(data);
        let html = '<br><h5><strong>'+programa+'</strong> con '+nombre+' ' +apellido+'</h5><br>'+
        '<div class="row">'+
          '<div class="col s12 m6 l6 ">'+
            '<div class="input-field">'+
                '<i class="material-icons prefix">search</i>'+
                '<input id="buscarP" type="text" class="validate" oninput="buscar(&apos;'+idGrupo+'&apos;)">'+
            '</div>'+
            '<table id = "tablita">'+
              '<thead>'+
                '<tr>'+
                  '<th>Participantes</th>'+
                  '<th>Inscribir</th>'+
                '</tr>'+
              '</thead>'+
              '</tbody>';
              for (participante of data.participantes) {
                let apellidoP =  participante.apellidoPaterno === 'null '? '&nbsp;':  participante.apellidoPaterno === 'null'? '&nbsp;': participante.apellidoPaterno;
                let apellidoM =  participante.apellidoMaterno === 'null '? '&nbsp;': participante.apellidoMaterno === 'null'? '&nbsp;': participante.apellidoMaterno;
                html += '<tr>'+
                    '<td>' + participante.nombreUsuario+' ' +apellidoP+' ' + apellidoM+' ' + '</td>'+
                    '<td>'+
                      '<a  onclick="registroObjetivos('+ +')" href="#rObjetivos-'+participante.login+'" style="cursor: pointer;">'+
                        '<i class="material-icons left">chevron_right</i>'+
                      '</a>'+
                    '</td>'+
                  '<tr>';
              }
              '</tbody>'+
            '</table>'+
            '<br /><br />'
          '</div>'+
          '<div class="col s12 m6 l6 asignar-ojetivos">'+
            '<div id="objetivos-participante-grupo-'+idGrupo+'">'+
            '</div>'+
          '</div>'+
        '</div>';        
        document.getElementById('contenido').innerHTML = html;
    }).catch(err => {
        console.log(err);
    });
};

const buscar = (idGrupo) => {
    let criterio = document.getElementById("buscarP").value;
    console.log(criterio);
    fetch('/gestionAdmin/gestionCiclos/buscar/'+criterio, {
        method: 'GET'
    }).then(result => {
        return result.json(); //Regresa otra promesa
    }).then(data => {
        //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
        console.log("Respuesta de la petición asíncrona");
        let html = 
            '<table id = "tablita">'+
              '<thead>'+
                '<tr>'+
                  '<th>Participantes</th>'+
                  '<th>Inscribir</th>'+
                '</tr>'+
              '</thead>'+
              '</tbody>';
              for (p of data.participante) {
                let apellidoP =  p.apellidoPaterno === 'null '? '&nbsp;':  p.apellidoPaterno === 'null'? '&nbsp;': p.apellidoPaterno;
                let apellidoM =  p.apellidoMaterno === 'null '? '&nbsp;': p.apellidoMaterno === 'null'? '&nbsp;': p.apellidoMaterno;
                html += '<tr>'+
                    '<td>' + p.nombreUsuario+' ' + apellidoP+' ' + apellidoM+' ' + '</td>'+
                    '<td>'+
                      '<a  onclick="registroObjetivos('+ +')" href="#rObjetivos-'+p.login+'" style="cursor: pointer;">'+
                        '<i class="material-icons left">chevron_right</i>'+
                      '</a>'+
                    '</td>'+
                  '<tr>';
              }
              '</tbody>'+
            '</table>';      
        document.getElementById('tablita').innerHTML = html;
    }).catch(err => {
        console.log(err);
    });
};


</script>