<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %> 

<div class="row">
  <p><strong>Programas disponibles</strong></p>
  <ul class="collapsible" id="lista-programas"> 
    <% for (let programa of programas) { %>  
        <li>
            <div class="collapsible-header">
                <%= programa.nombrePrograma %>
                <span class="badge">
                    <!-- Modal Editar -->
                    <i class="material-icons left">expand_more</i>
                </span>
            </div>
            <div class="collapsible-body">
                <div class="collection">
                    <% for (let terapeuta of terapeutas) { %>
                      <% if (terapeuta.idPrograma === programa.idPrograma) {%> 
                        <a value="<%=terapeuta.idGrupo%>" class="collection-item">Asignar participantes a <%= terapeuta.nombreUsuario %> <%= terapeuta.apellidoPaterno %></a> 
                      <% } %>
                    <% } %>
                </div>
            </div>
        </li>
    <% } %>
  </ul>
  <a  href= "/gestionAdmin/gestionCiclos" class="modal-action waves-effect btn-flat grey lighten-1 boton-md right">Finalizar inscripción</a>
</div>

  <input type="hidden" id="error" value="<%= error %>">
  <input type="hidden" id="bandera" value="<%= bandera %>">    
<%- include('include/footer.ejs') %>

<script>
  let error = document.getElementById('error').value;
  let bandera = document.getElementById('bandera').value;
  if (error !== 'false' && bandera == 'true'){
    window.location="/gestionAdmin/gestionCiclos/";
  }
  if (error === 'false' && bandera == 'true'){
    
    M.toast({html: 'El ciclo fue registrado correctamente.',  length:6500, classes: 'grey'})
  }
</script>