<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %> 

<div class="row">
  <div id= "contenido">
    <div class = "row">
      <div >
        <br><br>
        <% if (permisos.includes(11) && idlastciclop==idciclo ) { %>
        <!-- Boton Modificar ciclo -->
        <a  onclick="modificarFechasCiclo()"  class="waves-light btn-small light-green accent-4"><i class="material-icons left">date_range</i>Editar fechas</a>
        <a  href="/gestionAdmin/gestionCiclos/editar/<%= idciclo %>"  class="waves-light btn-small light-green accent-4"><i class="material-icons left">edit</i>Editar ciclo</a>
        <% } %>
        <a  href= "/gestionAdmin/gestionCiclos" class="waves-effect waves-light btn-small light-green accent-4 right"><i class="material-icons left">done_all</i>Finalizar inscripción</a>
        <!-- Modal Modificar ciclo-->
        <div id="modificarCiclo" class="modal">
          <div id="modalModCiclo">

          </div>
        </div><!-- Modificar ciclo-->
      </div>
    </div>
    <p><strong>Programas disponibles</strong></p>
    <ul class="collapsible" id="lista-programas"> 
      <% for (let programa of programas) { %>  
          <li>
              <div class="collapsible-header">
                  <%= programa.nombrePrograma %>
                  <span class="badge">
                      <!-- Modal Editar -->
                      <i class="material-icons left">expand_more</i>
                  </span>
              </div>
              <% if (permisos.includes(3)||permisos.includes(21)) { %>
                <div class="collapsible-body">
                    <div class="collection">
                        <% for (let terapeuta of terapeutas) { %>
                          <% if (terapeuta.idPrograma === programa.idPrograma && ((permisos.includes(21) && usuario === terapeuta.login) || permisos.includes(3))) {%> 
                            <a class="collection-item" onclick="listaParticipantes('<%= terapeuta.nombreUsuario %>', '<%= terapeuta.apellidoPaterno %>','<%= programa.nombrePrograma %>','<%=terapeuta.idGrupo%>')" style="cursor: pointer;">Asignar participantes a <%= terapeuta.nombreUsuario %> <%= terapeuta.apellidoPaterno %></a> 
                          <% } %>
                        <% } %>
                    </div>
                </div>
              <% }%>
          </li>
      <% } %>
    </ul>
  </div>
</div>

  <a  href= "#modificarCiclo" class = "modal-trigger" id="modCiclo" type="hidden"></a>
  <input type="hidden" id="error" value="<%= error %>">
  <input type="hidden" id="bandera" value="<%= bandera %>"> 
  <input type="hidden" id="idciclo" value="<%= idciclo %>">
  <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" > 

     
  <%- include('includesGestion/footerInscribir.ejs') %>

