<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>     
        <div class="row">
            <% const permisoGestionUsuarios = permisos.includes(8) || permisos.includes(9) || permisos.includes(10) || permisos.includes(12) || permisos.includes(13) || permisos.includes(17);
            if(permisoGestionUsuarios) { 
            %>
                <a href="<%= tabGestion[0].ruta %>">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="<%= tabGestion[0].imagen %>">
                            </div>
                            <div class="card-action">
                                <span><strong><%= tabGestion[0].nombre %></strong></span>
                            </div>
                        </div>
                    </div>
                </a>
            <% } %>
            <% const permisoGestionParticipantes = permisos.includes(20) || permisos.includes(6);
            if(permisoGestionParticipantes) { 
            %>
                <a href="<%= tabGestion[1].ruta %>">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="<%= tabGestion[1].imagen %>">
                            </div>
                            <div class="card-action">
                                <span><strong><%= tabGestion[1].nombre %></strong></span>
                            </div>
                        </div>
                    </div>
                </a>
            <% } %>
            <% const permisoGestionPrograma = permisos.includes(1) || permisos.includes(2) || permisos.includes(16) || permisos.includes(18) || permisos.includes(19);
            if(permisoGestionPrograma) { 
            %>
                <a href="<%= tabGestion[2].ruta %>">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="<%= tabGestion[2].imagen %>">
                            </div>
                            <div class="card-action">
                                <span><strong><%= tabGestion[2].nombre %></strong></span>
                            </div>
                        </div>
                    </div>
                </a>
            <% } %>
            <% const permisoGestionCiclo = permisos.includes(3) || permisos.includes(4) || permisos.includes(11);
            if(permisoGestionCiclo) { 
            %>
                <a href="<%= tabGestion[3].ruta %>">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="<%= tabGestion[3].imagen %>">
                            </div>
                            <div class="card-action">
                                <span><strong><%= tabGestion[3].nombre %></strong></span>
                            </div>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
 
<%- include('include/footer.ejs') %>