<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>  
    
<div class="row">
    <div class="col s12 m4">     
        <div class="row">
            <div class="input-field col s12" >
            <i class="material-icons prefix">search</i>
            <input type="text" id="buscarObjetivo" class="autocomplete" oninput="buscarObjetivo('<%= permisos %>')">
            <label for="buscarObjetivo">Objetivo</label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
          <div class="input-field col s12">
            <!-- Boton Agregar -->
            <% if (permisos.includes(18)) { %>
               <a class=" btn-small modal-trigger light-green accent-4" href="#agregarObjetivo"><i class="material-icons left">add_circle</i>Agregar</a>
            <% } %>
          </div>
        </div>
    </div>
    <!-- Inicia Modal Structure agregar objetivo-->
    <form action="/gestionAdmin/gestionProgramas/objetivos/agregar-objetivo" method="POST">
        <input type="hidden" id="_csrf_nuevo_objetivo" name="_csrf" value="<%= csrfToken %>" >
        <div id="agregarObjetivo" class="modal">
            <div class="modal-content">
                <h3>Nuevo objetivo</h3>
                <input type="hidden" name="idNivel" value="<%=idNivel%>">
            <ul>
                <li><strong><br>Descripción *</strong></li>
                <li>
                <div class="input-field">
                    <input name="descripcion" type="text" class="validate"  placeholder="Descripción" required>
                </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <br>
            <button  type = "submit" class="modal-action waves-effect btn-flat grey lighten-1 boton-md">Agregar</button>
        </div>
        </div><!--Fin Modal Structure agregar programa-->
    </form>
</div>

<ul class="collection with-header" id="lista-objetivos"> 
    <li class="collection-header"><h4>Objetivos</h4></li>
    <% let i = 1; %>
    <% for (objetivo of objetivos) { %>  
        <% if (objetivo.status === 1) { %>
            <li class="collection-item">
                <%= i%>.- <%= objetivo.descripcion %>
                <span class="badge">
                    <!-- Boton Editar -->
                    <% if (permisos.includes(16)) { %>
                        <a class="waves-effect waves-light modal-trigger black-text" href="#EditarObjetivo" onclick="obtenerIdObj(<%=objetivo.idObjetivo%>)"><i class="material-icons left">edit</i></a>
                    <% } %>
                    <!-- Boton Eliminar -->
                    <% if (permisos.includes(19)) { %>
                        <a class="waves-effect waves-light modal-trigger black-text" href="#modalEliminarObj" onclick="eliminarObj(<%=objetivo.idObjetivo%>)"><i class="material-icons left">delete</i></a>
                    <% } %>
                </span>
            </li>
            <% i++; %>
        <% } %>
    <% } %>
</ul>

<!-- Modal Structure Editar Objetivo-->
<form action="/gestionAdmin/gestionProgramas/objetivos/editar-objetivo" method="POST">
    <input type="hidden" id="_csrf_editar" name="_csrf" value="<%= csrfToken %>" >  
    <div id="EditarObjetivo" class="modal">
        <div class="modal-content">
            <h3>Editar objetivo</h3>
            <label> * Campos obligatorios.</label>
            
            <input type="hidden" name="idNivel" value="<%=idNivel%>">
            <div id="idObjetivo"></div>
            <ul>
                <li><strong><br>Descripción *</strong></li>
                <li>
                <div class="input">
                    <input name="descripcion" type="text" class="validate"  placeholder="Descripción">
                </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button  type = "submit" class="modal-action waves-effect btn-flat grey lighten-1 boton-md">Actualizar</button>
            <label style="visibility:hidden">**</label>
        </div>
        <br>
    </div>
</form><!-- Fin Modal Structure Editar Programa-->

<!-- Modal Structure Eliminar Objetivo-->
<form action="/gestionAdmin/gestionProgramas/objetivos/eliminar-objetivo" method="POST">
    <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >  
    <div id="modalEliminarObj" class="modal">
        <div class="modal-content">
            <h4>Eliminar objetivo</h4>
            <p>¿Está seguro de eliminar este objetivo?</p>
            <input type="hidden" name="idNivel" value="<%=idNivel%>">
            <div id="eliminarObjetivo"></div>
        </div>
        <div class="modal-footer">
            <button  type = "submit" class="modal-action waves-effect btn-flat grey lighten-1 boton-md">Eliminar<i class="material-icons right">delete</i></button>
        </div>
    </div>
</form><!-- Fin Modal Structure Eliminar Objetivo-->

<input type="hidden" id="nivelObjetivos" value="<%=idNivel%>">
<input type="hidden" id="registroExitosoObj" value="<%=registro_exitoso%>">

<%- include('include/footer.ejs') %>

<script type="text/javascript" src="/js/gestion_programas_objetivos.js"></script>
