<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>     
<div class="row">
    <div class="col s6"> 
        <br><br>
        <ul>
            <li><strong><h4>Correo:</h4></strong></li>
            <li class="grey-text">
                <h6 style="margin-left: 2%;"><%= usuario[0].login %></h6>
            </li>
            <li><strong><h4>Nombre:</h4></strong></li>
            <li class="grey-text">
               <h6 style="margin-left: 2%;"><%= usuario[0].nombreUsuario %></h6>
            </li>
            <% if (usuario[0].apellidoPaterno != null) { %>
                <li><strong><h4>Apellido Paterno:</h4></strong></li>
                <li class="grey-text">
                    <h6 style="margin-left: 2%;"><%= usuario[0].apellidoPaterno %></h6>
                </li>
            <% } %>
            <% if (usuario[0].apellidoMaterno != null) { %>
                <li><strong><h4>Apellido Materno:</h4></strong></li>
                <li class="grey-text">
                    <h6 style="margin-left: 2%;"><%= usuario[0].apellidoMaterno %></h6>
                </li>
            <% } %>
            
            <li><strong><h4>Roles:</h4></strong></li>
            <% for(let rol of roles) { %>
                <li class="grey-text">
                  <h6 style="margin-left: 2%;"><i class="material-icons">check</i>   <%= rol.nombre %></h6>
                </li>
            <% } %>
        </ul>
        <input hidden id="login" value="<%= usuario[0].login %>">
        <input type="hidden" id="_csrf" name="_csrf" value="<%=csrfToken%>" > 
    </div>
    <div class=" col s6">
        <div class="row valign-wrapper">
            <br><br>
                <ul>
                <div id="info+">

                </div>
            </ul>
        </div>
    </div>
</div>

<%- include('include/footer.ejs') %>
<script>
$(document).ready(checkInfoPerfil(document.getElementById('login').value))
</script>