<%- include('include/head.ejs') %> 
<%- include('include/titleBar.ejs') %> 
<%-include('include/sideNavBar.ejs') %> 

<% while (grupos) {
  let headParticipantes = participantes; %>
  <% if (usuario === grupos.data.login || rol === 4) { %>
    <div class="row">
      <div class="col s12 m6 ">
        <h5>Terapeuta: <%= grupos.data.nombreUsuario%> <%= grupos.data.apellidoPaterno%></h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6 ">
        <table class="highlight">
          <thead>
            <tr>
              <th>Participantes</th>
              <th class="center-align">Nivel</th>
              <th class="center-align">Calificaciones</th>
            </tr>
          </thead>
          </tbody>
          <% while (participantes) { 
            let headCalificaciones = calificaciones;%>
            <% if (participantes.data.idGrupo === grupos.data.idGrupo) { %>
              <tr>
                <td>
                  <% if (usuario === grupos.data.login || rol === 4) { %>
                    <a  onclick="registroPuntajes(<%=grupos.data.idGrupo%>,'<%=participantes.data.login%>')" href="#rPuntaje-<%=participantes.data.login%>">
                    <%=participantes.data.nombreUsuario%>  <%=participantes.data.apellidoPaterno%>    <%=participantes.data.apellidoMaterno%>  
                  </a>
                  <% } 
                     else { %>
                    <span>
                      <%=participantes.data.nombreUsuario%>  <%=participantes.data.apellidoPaterno%>    <%=participantes.data.apellidoMaterno%> 
                    </span>
                  <% } %>
                  
                </td>
                <td class="center-align">  <%=participantes.data.nombreNivel%>  </td>
                <td class="center-align">
                  <% while (calificaciones) { %>
                    <% if (calificaciones.data.login === participantes.data.login) { %>
                      <%= Math.round(calificaciones.data.calificaciones * 100)/100 %>
                    <% } %>
                    <% calificaciones = calificaciones.next; %>
                  <% } %>
                </td>
              <% } %>
              <% participantes = participantes.next; 
                calificaciones = headCalificaciones;%>
            <% } %>
          </tbody>
        </table>
        <br /><br />
      </div>
      <div class="col s12 m6 l6 asignar-puntaje">
        <div id="objetivos-participante-grupo-<%=grupos.data.idGrupo%>">
        </div>
      </div>
    </div>
  <% } 
    else if (rol === 1) { 
      let existeParticipante = false;
      while(participantes) {
        if( participantes.data.idGrupo === grupos.data.idGrupo && usuario === participantes.data.login )
           existeParticipante = true
        participantes = participantes.next;
      }   
      participantes = headParticipantes;
      
      if (existeParticipante) {
  %>
      <div class="row">
        <div class="col s12 m6 ">
          <h5>Terapeuta: <%= grupos.data.nombreUsuario%> <%= grupos.data.apellidoPaterno%></h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <h5>Promedio:
            <% while (calificaciones) { %>
              <% if (calificaciones.data.login === usuario) { %>
                <%= Math.round(calificaciones.data.calificaciones * 100)/100 %>
              <% } %>
              <% calificaciones = calificaciones.next; %>
            <% } %>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12 ">
          <div id="objetivos-participante"></div>
          <input type="hidden" id="login-participante-objetivos" value="<%=usuario%>">
          <input type="hidden" id="idGrupo-participante-objetivos" value="<%= grupos.data.idGrupo%>">
          <input type="hidden" id="puntajeMax" value="<%= puntajeMax%>">
        </div>
      </div>
    <% } %>
  <% } %>
  <% grupos = grupos.next; 
     participantes = headParticipantes; %>
<% } %>

<input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >  
<input type="hidden" id="idPrograma" value="<%=programa%>">
 
<%- include('include/footer.ejs') %>
